$progressBarColor : #338bc6;

#steps-progress {
  width: 97%;
  display: block;
  margin: auto;

  .steps-progress-bar {

    margin: 0px 0 80px;
    display: flex;
    justify-content: space-between;

    label {
      position: relative;
      input:checked+span {
        color: #5a5a5a ;
      }

      cursor: pointer;

      input {
        display: none;

        &:checked+span+a {
          background-color: $progressBarColor;
        }
      }

      a {
        display: inline-block;
        width: 10px;
        height: 10px;
        background-color: rgb(221, 226, 230);
        border-radius: 50px;
        position: relative;
        z-index: 6;

      }

      span {
        display: inline-block;
        min-width: 80px;
        position: absolute;
        top: 20px;
        text-align: center;
        left: -35px;
        font-size: 11px;
        line-height: 16px;
        color: #ddd;
      }
    }
  }

  .progress-bar-container {
    position: relative;
    margin: 0 5px;
    box-sizing: border-box;

    .progress-bar {
      position: absolute;
      z-index: 5;
      top: 9px;
      height: 2px;
      width: 100%;
      background-color: rgb(221, 226, 230);

      div.actual-progress {
        height: 2px;
        width: 0;
        background-color: $progressBarColor;
        -moz-transition: width 0.8s ease;
        -ms-transition: width 0.8s ease;
        -webkit-transition: width 0.8s ease;
        -o-transition: width 0.8s ease;
      }
    }
  }
}

#steps-container {
  .step:not(:first-child) {
    display: none;
  }

  .step {
    position: relative;
  }

  .step-button {
    background-color: #ddd !important;
    color: #000;
    border-radius: 5px;
    padding: 6px 18px;
    opacity: 0.7;
    position: absolute;
    border: none;
    outline: none;
    cursor: pointer;
    bottom: -65px;

    &:hover {
      opacity: 1;
    }

    &.next-step {
      right: 0;
      background-color: #ff6404 !important;
      color: #ffffff;
    }

    &.prevoius-step {
      left: 0;

    }
  }

  -moz-transition: all 0.8s ease;
  -ms-transition: all 0.8s ease;
  -webkit-transition: all 0.8s ease;
  -o-transition: all 0.8s ease;
}
