/*==================================================
=                     Get theme variables             =
==================================================*/
/*==================================================
=                     Colors             =
==================================================*/
/*==================================================
=                     Fonts             =
==================================================*/
  /*
font-family: 'Open Sans', sans-serif;
font-family: 'Lato', sans-serif;

  */
@font-face {
  font-family: "meta-serf-pro";
  src: url("../fonts/MetaSerifPro/MetaSerifPro-Medium.woff2") format("woff2"), url("../fonts/MetaSerifPro/MetaSerifPro-Black.woff") format("woff"); }
@font-face {
  font-family: "graphic";
  src: url("../fonts/Graphik/Graphik-Regular.woff2") format("woff2"), url("../fonts/Graphik/Graphik-Regular.woff") format("woff"); }
@font-face {
  font-family: 'Flama-Bold';
  font-style: normal;
  font-weight: normal;
  src: local("Flama-Bold"), url("../fonts/Flama/Flama-Bold.woff") format("woff"); }
/*==================================================
=                     Mixins             =
==================================================*/
/*==================================================
=                     Global             =
==================================================*/
body {
  background-color: #FAFBFD;
  overflow-x: hidden; }
  body a,
  body button {
    text-decoration: none !important;
    -moz-transition: all 0.15s ease;
    -ms-transition: all 0.15s ease;
    -webkit-transition: all 0.15s ease;
    -o-transition: all 0.15s ease; }
  body h1,
  body h2,
  body h3,
  body h4,
  body h5,
  body h6,
  body p,
  body span,
  body a,
  body input,
  body textarea,
  body label,
  body select,
  body span,
  body small,
  body button {
    color: #363636;
    font-weight: normal;
    font-family: "Open Sans", Arial, Helvetica, sans-serif;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizelegibility; }
  body a {
    color: #3a8bb9; }
    body a.small-link {
      font-size: 12px; }

#wrapper {
  margin-top: 70px;
  position: relative;
  z-index: 2; }

.box-container {
  margin: 0 150px; }

/*============== Heading =================*/
h1 {
  font-size: 48px !important;
  line-height: 58px; }
  h1.banner {
    font-size: 78px;
    line-height: 91px; }

h2 {
  font-size: 32px;
  line-height: 42px; }

h3 {
  font-size: 26px;
  line-height: 36px; }

h4 {
  font-size: 20px;
  line-height: 28px; }

h5 {
  font-size: 16px;
  line-height: 22px; }

h6 {
  font-size: 14px;
  line-height: 20px; }

/*============== Paragraphs =================*/
.caption {
  color: #4D5A6B;
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  font-size: 10px;
  letter-spacing: 1px;
  line-height: 12px; }

p {
  color: #4D5A6B;
  font-weight: normal;
  font-family: "Open Sans", Arial, Helvetica, sans-serif; }
  p.body-large {
    color: #363636;
    font-size: 20px;
    line-height: 34px; }
  p.body-small {
    color: #4D5A6B;
    font-size: 13px;
    line-height: 21px; }

/*============== Buttons =================*/
.btn {
  border: none;
  padding: 10px 25px;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  margin-bottom: 10px;
  display: inline-block;
  text-decoration: none !important;
  text-transform: uppercase;
  font-weight: 500;
  cursor: pointer;
  -webkit-border-radius: 500px;
  -moz-border-radius: 500px;
  -ms-border-radius: 500px;
  border-radius: 500px; }
  .btn.btn-transparent {
    background-color: transparent;
    color: #979797; }
  .btn.btn-orange {
    background-color: #ff8f60;
    color: #fff; }
  .btn svg {
    width: 100px;
    height: 100px; }
  .btn.btn-primary {
    color: #fff;
    background-color: rgba(0, 174, 239, 0.77); }
    .btn.btn-primary:hover {
      background-color: #82D3F2; }
    .btn.btn-primary:focus {
      background-color: #2DA9D8; }
    .btn.btn-primary.disabled, .btn.btn-primary:disabled {
      background-color: #c5c5c5; }
  .btn.btn-secondary {
    color: #363636;
    background-color: #F6BE00; }
    .btn.btn-secondary:hover {
      background-color: #F9D866; }
    .btn.btn-secondary:focus {
      background-color: #E3B001; }
    .btn.btn-secondary.disabled, .btn.btn-secondary:disabled {
      background-color: #c5c5c5; }
  .btn.btn-dark {
    color: #fff;
    background-color: #363636; }
    .btn.btn-dark:hover {
      background-color: #777C82; }
    .btn.btn-dark:focus {
      background-color: #1B232D; }
    .btn.btn-dark.disabled, .btn.btn-dark:disabled {
      background-color: #c5c5c5; }
  .btn.btn-light {
    color: #363636;
    background-color: #fff; }
    .btn.btn-light:focus {
      background-color: #c5c5c5; }
    .btn.btn-light.disabled, .btn.btn-light:disabled {
      color: #fff;
      background-color: #c5c5c5; }
  .btn.btn-round {
    -webkit-border-radius: 500px;
    -moz-border-radius: 500px;
    -ms-border-radius: 500px;
    border-radius: 500px;
    color: #fff;
    background-color: #363636; }
    .btn.btn-round:hover {
      background-color: #777C82; }
    .btn.btn-round:focus {
      background-color: #1B232D; }
    .btn.btn-round.disabled, .btn.btn-round:disabled {
      background-color: #c5c5c5; }

div.button-group {
  background-color: #fff;
  border-radius: 500px;
  display: inline-block;
  margin-bottom: 20px;
  box-shadow: 0 6px 13px 0px rgba(0, 0, 0, 0.09);
  -webkit-box-shadow: 0 6px 13px 0px rgba(0, 0, 0, 0.09);
  -moz-box-shadow: 0 6px 13px 0px rgba(0, 0, 0, 0.09);
  -o-box-shadow: 0 6px 13px 0px rgba(0, 0, 0, 0.09); }
  div.button-group .btn {
    margin-bottom: 0; }

/*============== TextBoxes =================*/
.textbox {
  box-sizing: border-box;
  border: none;
  padding: 6px 10px 5px 12px;
  font-size: 15px;
  line-height: 25px;
  margin-bottom: 10px;
  display: inline-block;
  color: #4D5A6B;
  width: 250px;
  border: 1px solid rgba(0, 0, 0, 0.1); }
  .textbox:hover {
    border: 1px solid #CED0DA; }
  .textbox:focus {
    border: 1px solid rgba(0, 174, 239, 0.77);
    outline: none;
    caret-color: rgba(0, 174, 239, 0.77); }
  .textbox.alert {
    border: 1px solid #ED1C24; }
  .textbox.ok {
    border: 1px solid #23B99E; }
  .textbox.disabled, .textbox:disabled {
    border: 1px solid rgba(0, 0, 0, 0.1); }

/*==================================================
=                  Used Objects             =
==================================================*/
.underlined-heading {
  /*  margin: 0 0 68px;
    h3 {
        .world-water-day {
            color: $dark-blue;
            font-family: $open-sans;
            font-size: 26px;
            font-weight: 600;
            line-height: 36px;
            display: block;
        }
    }
    span {
        display: block;
        width: 60px;
        height: 5px;
        background-color: $main-color;
    }*/ }

.separator {
  height: 1px;
  background-color: #e0e0e0;
  margin: 24px auto;
  width: 80%;
  display: block; }

form.search-box-group {
  position: relative; }
  form.search-box-group input[type="text"] {
    width: 100%; }
  form.search-box-group button {
    color: #989898;
    position: absolute;
    top: 9px;
    right: 3px;
    border: none;
    background-color: transparent;
    outline: none;
    cursor: pointer; }

/*==================================================
=                     Navbars                      =
==================================================*/
/*========== Main nav  =================*/
#main-nav-wrapper {
  box-sizing: border-box;
  height: 85px;
  width: 100%;
  border-bottom: 1px solid #E9E9E9;
  background-color: #fff;
  opacity: 0.95;
  display: flex;
  margin: 0;
  box-shadow: 0 -3px 24px 0px rgba(0, 0, 0, 0.23);
  -webkit-box-shadow: 0 -3px 24px 0px rgba(0, 0, 0, 0.23);
  -moz-box-shadow: 0 -3px 24px 0px rgba(0, 0, 0, 0.23);
  -o-box-shadow: 0 -3px 24px 0px rgba(0, 0, 0, 0.23); }
  #main-nav-wrapper .site-logo {
    position: absolute;
    left: 10px;
    top: 5px; }
    #main-nav-wrapper .site-logo a {
      background-image: url(../img/logo1.png);
      height: 52px;
      width: 303px;
      display: inline-block;
      margin: 9px 13px; }
  #main-nav-wrapper .menu-container {
    padding: 0;
    width: max-content;
    position: absolute;
    right: 30px;
    display: inline-block; }
  #main-nav-wrapper .nav-buttons {
    flex: 0 0 px;
    /* don't grow, don't shrink, stay fixed at 230px */ }
    #main-nav-wrapper .nav-buttons a,
    #main-nav-wrapper .nav-buttons button {
      color: #B6B6B6;
      margin-right: 12px; }
    #main-nav-wrapper .nav-buttons a.sign-up {
      padding: 8px 11px;
      font-size: 13px;
      line-height: 2;
      color: #fff;
      margin: 0 25px; }
    #main-nav-wrapper .nav-buttons form,
    #main-nav-wrapper .nav-buttons a {
      display: inline; }
    #main-nav-wrapper .nav-buttons input[type='text'] {
      display: none; }
    #main-nav-wrapper .nav-buttons button {
      border: none;
      background: none;
      margin: 8px 0 0 7px;
      padding: 0; }
    #main-nav-wrapper .nav-buttons img {
      width: 16px;
      height: 16px; }
  #main-nav-wrapper .main-nav ul {
    margin: 0;
    padding: 0; }
    #main-nav-wrapper .main-nav ul li {
      border-bottom: 4px solid transparent;
      max-height: 84px; }
      #main-nav-wrapper .main-nav ul li a {
        font-family: "Open Sans", sans-serif;
        font-size: 16px;
        font-weight: 400;
        line-height: 56px; }
      #main-nav-wrapper .main-nav ul li img {
        padding: 0 0 0 5px;
        width: 9px; }
    #main-nav-wrapper .main-nav ul li.active {
      color: #30B7EA;
      border-bottom: 4px solid #00AEEF; }
  #main-nav-wrapper div {
    padding: 0; }

.main-nav {
  display: block;
  background-color: #fff; }

.toggle-mobile-nav-btn {
  display: none !important; }

body .light-curves {
  position: absolute;
  top: -60px;
  width: 100%;
  z-index: -1; }

/* Large Devices, Wide Screens */
@media only screen and (max-width: 1200px) {
  /*========== For Main Navbar =================*/
  #grey-navbar {
    padding: 0px 5%; } }
/* Special breakboint for nav */
@media only screen and (max-width: 1070px) {
  .main-nav {
    display: none; }

  .toggle-mobile-nav-btn {
    display: inline-block !important;
    width: 12px; }
    .toggle-mobile-nav-btn.collabsed .bars {
      display: block;
      color: #B6B6B6; }
    .toggle-mobile-nav-btn.collabsed .x {
      display: none; }
    .toggle-mobile-nav-btn.opend .bars {
      display: none; }
    .toggle-mobile-nav-btn.opend .x {
      display: block; } }
@media only screen and (max-width: 992px) {
  /*========== For Main Navbar =================*/
  #grey-navbar {
    padding: 0px 0; }
    #grey-navbar nav ul li a {
      padding: 10px 8px 0; } }
/* Small Devices, Tablets */
@media only screen and (max-width: 768px) {
  /*========== For Grey Navbar =================*/
  #grey-navbar {
    display: none; }

  /*========== For Main Navbar =================*/
  #main-nav-wrapper {
    height: 51px; }

  #main-nav {
    line-height: 0;
    text-align: center; }

  #main-menu {
    display: block; } }
/* Extra Small Devices, Phones */
/* Custom, iPhone Retina */
/*==================================================
=                      Pages                       =
==================================================*/
#register-form-container, .content-wrapper {
  margin: auto;
  text-align: left; }
  #register-form-container div.form-content, .content-wrapper div.form-content {
    text-align: left;
    background-color: #fff;
    width: 100%;
    padding: 50px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    border-radius: 4px;
    box-shadow: 0 10px 89px -25px rgba(0, 0, 0, 0.59);
    -webkit-box-shadow: 0 18px 50px -21px rgba(0, 0, 0, 0.62);
    -moz-box-shadow: 0 10px 89px -25px rgba(0, 0, 0, 0.59);
    -o-box-shadow: 0 10px 89px -25px rgba(0, 0, 0, 0.59); }
    #register-form-container div.form-content .step, .content-wrapper div.form-content .step {
      margin: 20px 7%; }
      #register-form-container div.form-content .step .input-field, .content-wrapper div.form-content .step .input-field {
        position: relative;
        margin-bottom: 10px; }
        #register-form-container div.form-content .step .input-field label, .content-wrapper div.form-content .step .input-field label {
          display: none;
          position: absolute;
          top: 20px;
          left: 40px;
          font-size: 15px;
          color: #cacaca; }
          #register-form-container div.form-content .step .input-field label.active, .content-wrapper div.form-content .step .input-field label.active {
            display: block;
            top: 5px;
            color: #585858;
            font-size: 10px;
            font-weight: 600; }
        #register-form-container div.form-content .step .input-field svg, .content-wrapper div.form-content .step .input-field svg {
          color: #5c85be;
          position: absolute;
          font-size: 18px;
          top: 18px;
          left: 12px; }
        #register-form-container div.form-content .step .input-field input,
        #register-form-container div.form-content .step .input-field textarea, .content-wrapper div.form-content .step .input-field input,
        .content-wrapper div.form-content .step .input-field textarea {
          width: 100%;
          border: none;
          padding: 13px 5px 5px 15px; }
        #register-form-container div.form-content .step .input-field textarea, .content-wrapper div.form-content .step .input-field textarea {
          min-height: 150px; }
        #register-form-container div.form-content .step .input-field input,
        #register-form-container div.form-content .step .input-field textarea,
        #register-form-container div.form-content .step .input-field select, .content-wrapper div.form-content .step .input-field input,
        .content-wrapper div.form-content .step .input-field textarea,
        .content-wrapper div.form-content .step .input-field select {
          height: 50px;
          border: none;
          border-bottom: 1px solid rgba(204, 204, 204, 0.52);
          background-color: rgba(200, 200, 200, 0.09);
          color: #3e3e3e; }
          #register-form-container div.form-content .step .input-field input::placeholder,
          #register-form-container div.form-content .step .input-field textarea::placeholder,
          #register-form-container div.form-content .step .input-field select::placeholder, .content-wrapper div.form-content .step .input-field input::placeholder,
          .content-wrapper div.form-content .step .input-field textarea::placeholder,
          .content-wrapper div.form-content .step .input-field select::placeholder {
            /* Chrome, Firefox, Opera, Safari 10.1+ */
            color: #9c9c9c;
            opacity: 1;
            /* Firefox */ }
          #register-form-container div.form-content .step .input-field input:-ms-input-placeholder,
          #register-form-container div.form-content .step .input-field textarea:-ms-input-placeholder,
          #register-form-container div.form-content .step .input-field select:-ms-input-placeholder, .content-wrapper div.form-content .step .input-field input:-ms-input-placeholder,
          .content-wrapper div.form-content .step .input-field textarea:-ms-input-placeholder,
          .content-wrapper div.form-content .step .input-field select:-ms-input-placeholder {
            /* Internet Explorer 10-11 */
            color: #dbdbdb; }
          #register-form-container div.form-content .step .input-field input::-ms-input-placeholder,
          #register-form-container div.form-content .step .input-field textarea::-ms-input-placeholder,
          #register-form-container div.form-content .step .input-field select::-ms-input-placeholder, .content-wrapper div.form-content .step .input-field input::-ms-input-placeholder,
          .content-wrapper div.form-content .step .input-field textarea::-ms-input-placeholder,
          .content-wrapper div.form-content .step .input-field select::-ms-input-placeholder {
            /* Microsoft Edge */
            color: #dbdbdb; }
        #register-form-container div.form-content .step .input-field select,
        #register-form-container div.form-content .step .input-field .input-numbers, .content-wrapper div.form-content .step .input-field select,
        .content-wrapper div.form-content .step .input-field .input-numbers {
          position: absolute;
          right: 0;
          top: 0;
          height: 50px;
          padding: 0 10px;
          max-width: 80px; }
        #register-form-container div.form-content .step .input-field select[name="state"], .content-wrapper div.form-content .step .input-field select[name="state"] {
          height: 52px;
          position: relative;
          top: -4px;
          left: 0;
          min-width: 100%; }
        #register-form-container div.form-content .step .input-field.has-icon input, .content-wrapper div.form-content .step .input-field.has-icon input {
          padding-left: 40px; }
        #register-form-container div.form-content .step .input-field.has-text, .content-wrapper div.form-content .step .input-field.has-text {
          margin-bottom: 40px; }
          #register-form-container div.form-content .step .input-field.has-text .input-numbers, .content-wrapper div.form-content .step .input-field.has-text .input-numbers {
            top: -15px;
            height: 45px; }
        #register-form-container div.form-content .step .input-field.has-checkbox input[type="checkbox"], .content-wrapper div.form-content .step .input-field.has-checkbox input[type="checkbox"] {
          width: 16px;
          position: absolute;
          top: -15px; }
        #register-form-container div.form-content .step .input-field.has-checkbox p, .content-wrapper div.form-content .step .input-field.has-checkbox p {
          margin: 0 0 60px 25px; }
        #register-form-container div.form-content .step .input-field.half, .content-wrapper div.form-content .step .input-field.half {
          width: 47.5%;
          display: inline-block; }
          #register-form-container div.form-content .step .input-field.half:nth-child(2n), .content-wrapper div.form-content .step .input-field.half:nth-child(2n) {
            margin-left: 4%; }
        #register-form-container div.form-content .step .input-field.third, .content-wrapper div.form-content .step .input-field.third {
          width: 30.8%;
          display: inline-block; }
          #register-form-container div.form-content .step .input-field.third, .content-wrapper div.form-content .step .input-field.third {
            margin-left: 0 !important;
            margin-right: 3%; }
          #register-form-container div.form-content .step .input-field.third:nth-child(3n+2), .content-wrapper div.form-content .step .input-field.third:nth-child(3n+2) {
            margin-right: 0 !important; }
        #register-form-container div.form-content .step .input-field p, .content-wrapper div.form-content .step .input-field p {
          margin-bottom: 10px; }
          #register-form-container div.form-content .step .input-field p span, .content-wrapper div.form-content .step .input-field p span {
            color: #cfcfcf; }
        #register-form-container div.form-content .step .input-field small, .content-wrapper div.form-content .step .input-field small {
          font-size: 14px;
          color: #828282;
          line-height: 22px;
          margin-bottom: 30px;
          display: block; }
        #register-form-container div.form-content .step .input-field p,
        #register-form-container div.form-content .step .input-field small, .content-wrapper div.form-content .step .input-field p,
        .content-wrapper div.form-content .step .input-field small {
          margin-right: 90px; }
        #register-form-container div.form-content .step .input-field .terms, .content-wrapper div.form-content .step .input-field .terms {
          background-color: rgba(230, 230, 230, 0.41);
          width: 100%;
          margin: 0;
          padding: 15px;
          max-height: 300px;
          box-sizing: border-box;
          overflow-y: scroll;
          margin: 20px 0; }
          #register-form-container div.form-content .step .input-field .terms p, .content-wrapper div.form-content .step .input-field .terms p {
            font-size: 14px;
            line-height: 22px;
            margin: 0; }

#login-form-container .form-content {
  padding: 50px 70px 80px; }
#login-form-container .head {
  margin-bottom: 40px; }
  #login-form-container .head h3 {
    margin-bottom: 17px; }
  #login-form-container .head p {
    margin: 0px 0 5px;
    font-size: 12px; }
#login-form-container .step {
  margin: 0 0 40px; }

/*==================================================
=                     Sections                     =
==================================================*/
#hero {
  /* 
   min-height: 600px;
   background-image: url('../img/girl.JPG');
   background-size: cover;
   */ }

body .container {
  margin: auto; }

footer {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#0a0a0a+0,09263d+100 */
  background: #0a0a0a;
  /* Old browsers */
  background: -moz-linear-gradient(45deg, #0a0a0a 0%, #09263d 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(45deg, #0a0a0a 0%, #09263d 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(45deg, #0a0a0a 0%, #09263d 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0a0a0a', endColorstr='#09263d', GradientType=1);
  /* IE6-9 fallback on horizontal gradient */
  z-index: 1;
  position: relative;
  padding-top: 250px; }
  footer .footer-site-logo {
    width: 200px;
    height: 35px;
    background-image: url("../img/logo2.png");
    background-repeat: no-repeat;
    background-size: 200px;
    margin: 5px 0 25px; }
  footer p {
    font-size: 13px;
    line-height: 17px; }
  footer a,
  footer h3,
  footer h4,
  footer p,
  footer small,
  footer span {
    color: #d5d3d4; }
  footer h4 {
    font-weight: 600;
    font-size: 18px;
    margin: 5px 0 20px;
    line-height: 20px; }
    footer h4 small {
      font-size: 11px;
      display: block; }
  footer nav ul {
    list-style: none;
    margin: 0;
    padding: 0; }
    footer nav ul li {
      line-height: 22px; }
      footer nav ul li a {
        font-size: 12px; }
  footer nav.soical-links ul li, footer nav.app-links ul li {
    display: inline-block;
    margin-right: 10px; }
  footer nav.app-links h4,
  footer nav.app-links ul {
    display: inline-block; }
  footer nav.app-links h4 {
    margin-right: 20px; }
  footer nav.app-links a {
    font-size: 20px; }
  footer form {
    margin-bottom: 20px; }
    footer form input[type="email"] {
      -webkit-border-radius: 500px;
      -moz-border-radius: 500px;
      -ms-border-radius: 500px;
      border-radius: 500px;
      font-size: 12px; }
    footer form button {
      background-color: #6fb0cf !important;
      color: #ffffff !important;
      font-weight: 600;
      -webkit-border-radius: 500px;
      -moz-border-radius: 500px;
      -ms-border-radius: 500px;
      border-radius: 500px;
      height: 38px;
      top: -0px !important;
      font-size: 14px;
      padding: 0 16px; }
  footer .copy-rights {
    padding: 80px 0 20px; }
    footer .copy-rights span {
      font-size: 12px; }
  footer .curve {
    position: absolute;
    top: -190px; }

/*==================================================
=                   Media Queries                  =
==================================================*/
/* Large Devices, Wide Screens */
/* Medium Devices, Desktops */
/* Small Devices, Tablets */
/* Extra Small Devices, Phones */
/* Custom */
