/*==================================================
=                     Get theme variables             =
==================================================*/
/*==================================================
=                     Colors             =
==================================================*/
/*==================================================
=                     Fonts             =
==================================================*/
  /*
font-family: 'Open Sans', sans-serif;
font-family: 'Lato', sans-serif;

  */
@font-face {
  font-family: "meta-serf-pro";
  src: url("../fonts/MetaSerifPro/MetaSerifPro-Medium.woff2") format("woff2"), url("../fonts/MetaSerifPro/MetaSerifPro-Black.woff") format("woff"); }
@font-face {
  font-family: "graphic";
  src: url("../fonts/Graphik/Graphik-Regular.woff2") format("woff2"), url("../fonts/Graphik/Graphik-Regular.woff") format("woff"); }
@font-face {
  font-family: 'Flama-Bold';
  font-style: normal;
  font-weight: normal;
  src: local("Flama-Bold"), url("../fonts/Flama/Flama-Bold.woff") format("woff"); }
/*==================================================
=                     Mixins             =
==================================================*/
/*==================================================
=                     Global             =
==================================================*/
body {
  background-color: #fff;
  overflow-x: hidden; }
  body a,
  body button {
    text-decoration: none !important;
    -moz-transition: all 0.15s ease;
    -ms-transition: all 0.15s ease;
    -webkit-transition: all 0.15s ease;
    -o-transition: all 0.15s ease; }
  body h1,
  body h2,
  body h3,
  body h4,
  body h5,
  body h6,
  body p,
  body span,
  body a,
  body li,
  body input,
  body textarea,
  body label,
  body select,
  body span,
  body small,
  body button {
    color: #5a5a5a;
    font-weight: normal;
    font-family: "Open Sans", Arial, Helvetica, sans-serif;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizelegibility; }
    body h1.bold-600,
    body h2.bold-600,
    body h3.bold-600,
    body h4.bold-600,
    body h5.bold-600,
    body h6.bold-600,
    body p.bold-600,
    body span.bold-600,
    body a.bold-600,
    body li.bold-600,
    body input.bold-600,
    body textarea.bold-600,
    body label.bold-600,
    body select.bold-600,
    body span.bold-600,
    body small.bold-600,
    body button.bold-600 {
      font-weight: 600; }
    body h1.bold-700,
    body h2.bold-700,
    body h3.bold-700,
    body h4.bold-700,
    body h5.bold-700,
    body h6.bold-700,
    body p.bold-700,
    body span.bold-700,
    body a.bold-700,
    body li.bold-700,
    body input.bold-700,
    body textarea.bold-700,
    body label.bold-700,
    body select.bold-700,
    body span.bold-700,
    body small.bold-700,
    body button.bold-700 {
      font-weight: 700; }
    body h1.bold-800,
    body h2.bold-800,
    body h3.bold-800,
    body h4.bold-800,
    body h5.bold-800,
    body h6.bold-800,
    body p.bold-800,
    body span.bold-800,
    body a.bold-800,
    body li.bold-800,
    body input.bold-800,
    body textarea.bold-800,
    body label.bold-800,
    body select.bold-800,
    body span.bold-800,
    body small.bold-800,
    body button.bold-800 {
      font-weight: 800; }
    body h1.sub,
    body h2.sub,
    body h3.sub,
    body h4.sub,
    body h5.sub,
    body h6.sub,
    body p.sub,
    body span.sub,
    body a.sub,
    body li.sub,
    body input.sub,
    body textarea.sub,
    body label.sub,
    body select.sub,
    body span.sub,
    body small.sub,
    body button.sub {
      color: #878787; }
  body a {
    color: #3a8bb9; }
    body a.small-link {
      font-size: 12px; }

#wrapper {
  margin-top: 70px;
  position: relative;
  z-index: 2; }

.box-container {
  margin: 0 150px; }

/*============== Heading =================*/
h1, h2, h3, h4 {
  color: #5a5a5a;
  letter-spacing: -1px; }

h1, h2 {
  width: 100%; }

h1 {
  font-size: 48px !important;
  line-height: 58px; }

h2 {
  font-size: 28px;
  line-height: 42px; }

h3 {
  font-size: 24px;
  line-height: 36px; }

h4 {
  font-size: 20px;
  line-height: 28px; }

h5 {
  font-size: 16px;
  line-height: 22px; }

h6 {
  font-size: 14px;
  line-height: 20px; }

/*============== Paragraphs =================*/
.caption {
  color: #4D5A6B;
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  font-size: 10px;
  letter-spacing: 1px;
  line-height: 12px; }

p {
  color: #4D5A6B;
  font-weight: normal;
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  line-height: 25px; }
  p.body-large {
    color: #5a5a5a;
    font-size: 20px;
    line-height: 34px; }
  p.body-small {
    color: #4D5A6B;
    font-size: 13px;
    line-height: 21px; }

/*============== Buttons =================*/
.btn {
  border: none;
  padding: 10px 25px;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  margin-bottom: 10px;
  display: inline-block;
  text-decoration: none !important;
  text-transform: uppercase;
  font-weight: 500;
  cursor: pointer;
  -webkit-border-radius: 500px;
  -moz-border-radius: 500px;
  -ms-border-radius: 500px;
  border-radius: 500px; }
  .btn.btn-transparent {
    background-color: transparent;
    color: #979797; }
  .btn.btn-orange {
    background-color: #ff8f60;
    color: #fff; }
  .btn.btn-dark-blue {
    background-color: #283970;
    color: #fff; }
  .btn.btn-default {
    background-color: #dadada;
    color: #333333; }
  .btn.btn-small {
    padding: 5px 14px;
    font-size: 12px; }
  .btn.btn-large {
    padding: 20px 30px;
    font-size: 16px; }
  .btn.btn-primary {
    color: #fff;
    background-color: rgba(0, 174, 239, 0.77); }
    .btn.btn-primary:hover {
      background-color: #82D3F2; }
    .btn.btn-primary:focus {
      background-color: #2DA9D8; }
    .btn.btn-primary.disabled, .btn.btn-primary:disabled {
      background-color: #c5c5c5; }
  .btn.btn-secondary {
    color: #5a5a5a;
    background-color: #F6BE00; }
    .btn.btn-secondary:hover {
      background-color: #F9D866; }
    .btn.btn-secondary:focus {
      background-color: #E3B001; }
    .btn.btn-secondary.disabled, .btn.btn-secondary:disabled {
      background-color: #c5c5c5; }
  .btn.btn-dark {
    color: #fff;
    background-color: #5a5a5a; }
    .btn.btn-dark:hover {
      background-color: #777C82; }
    .btn.btn-dark:focus {
      background-color: #1B232D; }
    .btn.btn-dark.disabled, .btn.btn-dark:disabled {
      background-color: #c5c5c5; }
  .btn.btn-light {
    color: #5a5a5a;
    background-color: #fff; }
    .btn.btn-light:focus {
      background-color: #c5c5c5; }
    .btn.btn-light.disabled, .btn.btn-light:disabled {
      color: #fff;
      background-color: #c5c5c5; }
  .btn.btn-round {
    -webkit-border-radius: 500px;
    -moz-border-radius: 500px;
    -ms-border-radius: 500px;
    border-radius: 500px;
    color: #fff;
    background-color: #5a5a5a; }
    .btn.btn-round:hover {
      background-color: #777C82; }
    .btn.btn-round:focus {
      background-color: #1B232D; }
    .btn.btn-round.disabled, .btn.btn-round:disabled {
      background-color: #c5c5c5; }

div.button-group {
  background-color: #fff;
  border-radius: 500px;
  display: inline-block;
  margin-bottom: 20px;
  box-shadow: 0 6px 13px 0px rgba(0, 0, 0, 0.09);
  -webkit-box-shadow: 0 6px 13px 0px rgba(0, 0, 0, 0.09);
  -moz-box-shadow: 0 6px 13px 0px rgba(0, 0, 0, 0.09);
  -o-box-shadow: 0 6px 13px 0px rgba(0, 0, 0, 0.09); }
  div.button-group .btn {
    margin-bottom: 0; }

/*============== TextBoxes =================*/
.textbox {
  box-sizing: border-box;
  border: none;
  padding: 6px 10px 5px 12px;
  font-size: 15px;
  line-height: 25px;
  margin-bottom: 10px;
  display: inline-block;
  color: #4D5A6B;
  width: 250px;
  border: 1px solid rgba(0, 0, 0, 0.1); }
  .textbox:hover {
    border: 1px solid #CED0DA; }
  .textbox:focus {
    border: 1px solid rgba(0, 174, 239, 0.77);
    outline: none;
    caret-color: rgba(0, 174, 239, 0.77); }
  .textbox.alert {
    border: 1px solid #ED1C24; }
  .textbox.ok {
    border: 1px solid #23B99E; }
  .textbox.disabled, .textbox:disabled {
    border: 1px solid rgba(0, 0, 0, 0.1); }

/*==================================================
=                  Used Objects             =
==================================================*/
.center {
  text-align: center; }

.with-bottom-separator {
  padding-bottom: 90px;
  border-bottom: 1px solid rgba(232, 232, 232, 0.75); }

.row.head {
  text-align: center; }
  .row.head p {
    display: block;
    margin: 0 auto; }

.wide-head {
  margin: -55px -23px -50px;
  padding: 1px 23px 50px; }

.blue-gradient {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#2c6bb1+0,1ba9be+100 */
  background: #2c6bb1;
  /* Old browsers */
  background: -moz-linear-gradient(left, #2c6bb1 0%, #1ba9be 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(left, #2c6bb1 0%, #1ba9be 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, #2c6bb1 0%, #1ba9be 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#2c6bb1', endColorstr='#1ba9be', GradientType=1);
  /* IE6-9 */ }

.underlined-heading {
  /*  margin: 0 0 68px;
    h3 {
        .world-water-day {
            color: $dark-grey;
            font-family: $open-sans;
            font-size: 26px;
            font-weight: 600;
            line-height: 36px;
            display: block;
        }
    }
    span {
        display: block;
        width: 60px;
        height: 5px;
        background-color: $main-color;
    }*/ }

.separator {
  height: 1px;
  background-color: #e0e0e0;
  margin: 24px auto;
  width: 80%;
  display: block; }

form.search-box-group {
  position: relative; }
  form.search-box-group input[type="text"] {
    width: 100%; }
  form.search-box-group button {
    color: #989898;
    position: absolute;
    top: 9px;
    right: 3px;
    border: none;
    background-color: transparent;
    outline: none;
    cursor: pointer; }

/*==================================================
=                     Navbars                      =
==================================================*/
/*========== Main nav  =================*/
#main-nav-wrapper {
  box-sizing: border-box;
  height: 85px;
  width: 100%;
  border-bottom: 1px solid #E9E9E9;
  background-color: #fff;
  opacity: 0.95;
  display: flex;
  margin: 0;
  box-shadow: 0 -3px 24px 0px rgba(0, 0, 0, 0.23);
  -webkit-box-shadow: 0 -3px 24px 0px rgba(0, 0, 0, 0.23);
  -moz-box-shadow: 0 -3px 24px 0px rgba(0, 0, 0, 0.23);
  -o-box-shadow: 0 -3px 24px 0px rgba(0, 0, 0, 0.23); }
  #main-nav-wrapper .site-logo {
    position: absolute;
    left: 10px;
    top: 5px; }
    #main-nav-wrapper .site-logo a {
      background-image: url(../img/logo1.png);
      height: 52px;
      width: 303px;
      display: inline-block;
      margin: 9px 13px; }
  #main-nav-wrapper .menu-container {
    padding: 0;
    width: max-content;
    position: absolute;
    right: 30px;
    display: inline-block; }
  #main-nav-wrapper .nav-buttons {
    flex: 0 0 px;
    /* don't grow, don't shrink, stay fixed at 230px */ }
    #main-nav-wrapper .nav-buttons a,
    #main-nav-wrapper .nav-buttons button {
      color: #B6B6B6;
      margin-right: 12px; }
    #main-nav-wrapper .nav-buttons a.sign-up {
      padding: 8px 11px;
      font-size: 13px;
      line-height: 2;
      color: #fff;
      margin: 0 25px; }
    #main-nav-wrapper .nav-buttons form,
    #main-nav-wrapper .nav-buttons a {
      display: inline; }
    #main-nav-wrapper .nav-buttons input[type='text'] {
      display: none; }
    #main-nav-wrapper .nav-buttons button {
      border: none;
      background: none;
      margin: 8px 0 0 7px;
      padding: 0; }
    #main-nav-wrapper .nav-buttons img {
      width: 16px;
      height: 16px; }
  #main-nav-wrapper .main-nav ul {
    margin: 0;
    padding: 0; }
    #main-nav-wrapper .main-nav ul li {
      border-bottom: 4px solid transparent;
      max-height: 84px; }
      #main-nav-wrapper .main-nav ul li a {
        font-family: "Open Sans", sans-serif;
        font-size: 16px;
        font-weight: 400;
        line-height: 56px; }
      #main-nav-wrapper .main-nav ul li img {
        padding: 0 0 0 5px;
        width: 9px; }
    #main-nav-wrapper .main-nav ul li.active {
      color: #30B7EA;
      border-bottom: 4px solid #00AEEF; }
  #main-nav-wrapper div {
    padding: 0; }
  #main-nav-wrapper a.has-image {
    padding-right: 70px !important;
    position: relative; }
    #main-nav-wrapper a.has-image:before {
      content: "|";
      padding-right: 22px;
      color: #a6a6a6; }
    #main-nav-wrapper a.has-image img {
      padding: 0 !important;
      position: absolute;
      top: 20px;
      right: 12px;
      z-index: 2;
      width: 40px !important;
      border-radius: 30px; }

.main-nav {
  display: block;
  background-color: #fff; }

.toggle-mobile-nav-btn {
  display: none !important; }

body .light-curves {
  position: absolute;
  top: -60px;
  width: 100%;
  z-index: -1; }

/* Large Devices, Wide Screens */
@media only screen and (max-width: 1200px) {
  /*========== For Main Navbar =================*/
  #grey-navbar {
    padding: 0px 5%; } }
/* Special breakboint for nav */
@media only screen and (max-width: 1070px) {
  .main-nav {
    display: none; }

  .toggle-mobile-nav-btn {
    display: inline-block !important;
    width: 12px; }
    .toggle-mobile-nav-btn.collabsed .bars {
      display: block;
      color: #B6B6B6; }
    .toggle-mobile-nav-btn.collabsed .x {
      display: none; }
    .toggle-mobile-nav-btn.opend .bars {
      display: none; }
    .toggle-mobile-nav-btn.opend .x {
      display: block; } }
@media only screen and (max-width: 992px) {
  /*========== For Main Navbar =================*/
  #grey-navbar {
    padding: 0px 0; }
    #grey-navbar nav ul li a {
      padding: 10px 8px 0; } }
/* Small Devices, Tablets */
@media only screen and (max-width: 768px) {
  /*========== For Grey Navbar =================*/
  #grey-navbar {
    display: none; }

  /*========== For Main Navbar =================*/
  #main-nav-wrapper {
    height: 51px; }

  #main-nav {
    line-height: 0;
    text-align: center; }

  #main-menu {
    display: block; } }
/* Extra Small Devices, Phones */
/* Custom, iPhone Retina */
/*==================================================
=                     Modules                     =
==================================================*/
.tab-wrap {
  transition: 0.3s box-shadow ease;
  border-radius: 6px;
  max-width: 100%;
  display: flex;
  flex-wrap: wrap;
  position: relative;
  list-style: none;
  background-color: #fff;
  margin: 0px 0;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.02); }

.tab {
  display: none; }
  .tab:checked:nth-of-type(1) ~ .tab__content:nth-of-type(1) {
    opacity: 1;
    transition: 0.5s opacity ease-in, 0.8s transform ease;
    position: relative;
    top: 0;
    z-index: 100;
    transform: translateY(0px);
    text-shadow: 0 0 0; }
  .tab:checked:nth-of-type(2) ~ .tab__content:nth-of-type(2) {
    opacity: 1;
    transition: 0.5s opacity ease-in, 0.8s transform ease;
    position: relative;
    top: 0;
    z-index: 100;
    transform: translateY(0px);
    text-shadow: 0 0 0; }
  .tab:checked:nth-of-type(3) ~ .tab__content:nth-of-type(3) {
    opacity: 1;
    transition: 0.5s opacity ease-in, 0.8s transform ease;
    position: relative;
    top: 0;
    z-index: 100;
    transform: translateY(0px);
    text-shadow: 0 0 0; }
  .tab:checked:nth-of-type(4) ~ .tab__content:nth-of-type(4) {
    opacity: 1;
    transition: 0.5s opacity ease-in, 0.8s transform ease;
    position: relative;
    top: 0;
    z-index: 100;
    transform: translateY(0px);
    text-shadow: 0 0 0; }
  .tab:checked:nth-of-type(5) ~ .tab__content:nth-of-type(5) {
    opacity: 1;
    transition: 0.5s opacity ease-in, 0.8s transform ease;
    position: relative;
    top: 0;
    z-index: 100;
    transform: translateY(0px);
    text-shadow: 0 0 0; }
  .tab:first-of-type:not(:last-of-type) + label {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0; }
  .tab:not(:first-of-type):not(:last-of-type) + label {
    border-radius: 0; }
  .tab:last-of-type:not(:first-of-type) + label {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0; }
  .tab:checked + label {
    background-color: #fff;
    box-shadow: 0 -1px 0 #fff inset;
    color: #2377ab;
    cursor: default; }
    .tab:checked + label:hover {
      box-shadow: 0 -1px 0 #fff inset;
      background-color: #fff; }
  .tab + label {
    box-shadow: 0 -1px 0 #eee inset;
    border-radius: 6px 6px 0 0;
    cursor: pointer;
    display: block;
    text-decoration: none;
    color: #5a5a5a;
    flex-grow: 3;
    text-align: center;
    background-color: #f2f2f2;
    user-select: none;
    text-align: center;
    transition: 0.3s background-color ease, 0.3s box-shadow ease;
    height: 50px;
    box-sizing: border-box;
    padding: 15px; }
    .tab + label:hover {
      background-color: #f9f9f9;
      box-shadow: 0 1px 0 #f4f4f4 inset; }
  .tab__content {
    padding: 0px 16px;
    background-color: transparent;
    position: absolute;
    width: 100%;
    z-index: -1;
    opacity: 0;
    left: 0;
    transform: translateY(-3px);
    border-radius: 6px; }

/* boring stuff */
.tabs-cont {
  margin: 0 auto;
  display: block;
  max-width: 100%; }
  .tabs-cont > *:not(.tab-wrap) {
    padding: 0 80px; }

/*
h1,
h2 {
  margin: 0;
  color: #444;
  text-align: center;
  font-weight: 400;
}

h2 {
  font-size: 1em;
  margin-bottom: 30px;
}

h3 {
  font-weight: 400;
}

p {
  line-height: 1.6;
  margin-bottom: 20px;
}*/
/* Slider */
.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent; }

.slick-list {
  position: relative;
  display: block;
  overflow: hidden;
  margin: 0;
  padding: 0; }
  .slick-list:focus {
    outline: none; }
  .slick-list.dragging {
    cursor: pointer;
    cursor: hand; }

.slick-slider .slick-track, .slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

.slick-track {
  position: relative;
  top: 0;
  left: 0;
  display: block;
  margin-left: auto;
  margin-right: auto; }
  .slick-track:before {
    display: table;
    content: ''; }
  .slick-track:after {
    display: table;
    content: '';
    clear: both; }

.slick-loading .slick-track {
  visibility: hidden; }

.slick-slide {
  display: none;
  float: left;
  height: 100%;
  min-height: 1px; }

[dir='rtl'] .slick-slide {
  float: right; }

.slick-slide img {
  display: block; }
.slick-slide.slick-loading img {
  display: none; }
.slick-slide.dragging img {
  pointer-events: none; }

.slick-initialized .slick-slide {
  display: block; }

.slick-loading .slick-slide {
  visibility: hidden; }

.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent; }

.slick-arrow.slick-hidden {
  display: none; }

/*==================================================
=                      Pages                       =
==================================================*/
div.main-blue-header-theme {
  background: #3d2ea5;
  background: -moz-linear-gradient(45deg, #3d2ea5 0%, #14c4c3 100%);
  background: -webkit-linear-gradient(45deg, #3d2ea5 0%, #14c4c3 100%);
  background: linear-gradient(45deg, #3d2ea5 0%, #14c4c3 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#3d2ea5', endColorstr='#14c4c3', GradientType=1); }

@media only screen and (min-width: 769px) {
  #main-nav-wrapper.style-nav-2 {
    background-color: transparent;
    border-bottom-color: transparent;
    box-shadow: 0 -3px 24px 0px rgba(0, 0, 0, 0);
    -webkit-box-shadow: 0 -3px 24px 0px rgba(0, 0, 0, 0);
    -moz-box-shadow: 0 -3px 24px 0px rgba(0, 0, 0, 0);
    -o-box-shadow: 0 -3px 24px 0px rgba(0, 0, 0, 0); }
    #main-nav-wrapper.style-nav-2 .site-logo a {
      background-image: url(../img/logo2.png); }
    #main-nav-wrapper.style-nav-2 ul#main-menu,
    #main-nav-wrapper.style-nav-2 nav.main-nav {
      background-color: transparent; }
    #main-nav-wrapper.style-nav-2 ul#main-menu li a {
      color: #fff;
      font-weight: 600; } }

#hero {
  padding-bottom: 360px; }
  #hero div.content {
    margin-top: 100px;
    text-align: center; }
    #hero div.content h1,
    #hero div.content h4 {
      color: #fff; }
    #hero div.content h1 {
      font-size: 32px !important;
      font-weight: 700;
      margin: 0 0 20px;
      line-height: 50px; }
    #hero div.content h4 {
      margin: 0 0 70px;
      font-size: 18px !important; }
    #hero div.content div.text-box-simulator {
      margin: 00px 0 30px;
      background-color: #fff;
      display: inline-block;
      position: relative;
      border-radius: 500px;
      padding: 0 0 0 12px; }
      #hero div.content div.text-box-simulator svg {
        color: #9e9e9e;
        margin: 0px 10px 0 0; }
      #hero div.content div.text-box-simulator button:not(.btn) {
        border: none;
        background: none;
        padding: 0;
        font-size: 14px;
        cursor: pointer;
        color: #8b8b8b; }
        #hero div.content div.text-box-simulator button:not(.btn):hover {
          color: #000; }
      #hero div.content div.text-box-simulator button.btn {
        margin: 0 0 0 20px;
        height: 45px;
        text-transform: capitalize;
        font-weight: 600; }
    #hero div.content div.service-type-radio-group {
      display: flex;
      max-width: 60%;
      max-width: 550px;
      margin: 20px auto 0; }
      #hero div.content div.service-type-radio-group div.service-type {
        opacity: 0.7;
        flex-basis: 33.33%;
        padding: 0 20px 0px 21px;
        position: relative; }
        #hero div.content div.service-type-radio-group div.service-type input[type='radio'] {
          position: absolute;
          left: 4px;
          top: 7px; }
        #hero div.content div.service-type-radio-group div.service-type p {
          padding: 0;
          margin: 0;
          text-align: left;
          color: #fff; }
          #hero div.content div.service-type-radio-group div.service-type p small {
            display: block;
            color: #fff;
            font-size: 11px; }
        #hero div.content div.service-type-radio-group div.service-type.checked {
          opacity: 1; }

.main-style-curves {
  position: absolute;
  top: 690px;
  width: 100%; }

#intro {
  text-align: center; }
  #intro h2 {
    margin-bottom: 15px; }
  #intro h5 {
    margin: 0px 0 35px;
    color: #878787; }
  #intro a.btn {
    text-transform: capitalize; }
    #intro a.btn svg {
      margin-right: 10px; }
  #intro p {
    line-height: 25px; }

#how-it-works-section h4 {
  margin-bottom: 12px; }

#how-it-works-section p {
  display: block;
  margin: 0 auto 0; }

#customers-reviews .row .single-testimonial {
  margin-top: 80px;
  padding: 0px 20px 0 0;
  box-sizing: border-box;
  text-align: left;
  flex-basis: 33.3333%; }
  #customers-reviews .row .single-testimonial .review-body {
    position: relative;
    padding: 18px 25px 24px;
    box-sizing: border-box;
    margin-bottom: 30px;
    border-radius: 10px;
    background: #4674c8;
    background: -moz-linear-gradient(45deg, #4674c8 0%, #25a0bc 100%);
    background: -webkit-linear-gradient(45deg, #4674c8 0%, #25a0bc 100%);
    background: linear-gradient(45deg, #4674c8 0%, #25a0bc 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#4674c8', endColorstr='#14c4c3', GradientType=1); }
    #customers-reviews .row .single-testimonial .review-body h5,
    #customers-reviews .row .single-testimonial .review-body p,
    #customers-reviews .row .single-testimonial .review-body a {
      color: #ececec; }
    #customers-reviews .row .single-testimonial .review-body h5 {
      margin: 0 0 20px;
      font-size: 13px;
      font-weight: 700; }
    #customers-reviews .row .single-testimonial .review-body p {
      font-size: 13px;
      line-height: 22px;
      font-style: italic;
      position: relative;
      padding-left: 38px; }
      #customers-reviews .row .single-testimonial .review-body p svg {
        position: absolute;
        top: 0;
        left: -2px;
        font-size: 26px; }
      #customers-reviews .row .single-testimonial .review-body p a {
        text-decoration: underline !important; }
    #customers-reviews .row .single-testimonial .review-body svg {
      position: absolute;
      bottom: -15px; }
  #customers-reviews .row .single-testimonial .review-author {
    position: relative;
    padding: 0 10px 10px 80px; }
    #customers-reviews .row .single-testimonial .review-author img.review-author-image {
      position: absolute;
      top: 0;
      left: 0;
      border-radius: 500px; }
    #customers-reviews .row .single-testimonial .review-author h4 {
      margin: 0 0 0 5px;
      font-weight: 600;
      font-size: 16px; }
    #customers-reviews .row .single-testimonial .review-author p {
      font-size: 14px;
      margin-left: 4px; }
    #customers-reviews .row .single-testimonial .review-author div.stars-bar {
      background-color: #ff7c45;
      display: inline-block;
      height: 22px; }
#customers-reviews ul {
  margin: 0;
  padding: 0;
  display: block;
  margin: auto; }
  #customers-reviews ul li {
    opacity: 0.5;
    display: inline-block; }
    #customers-reviews ul li button {
      border: none;
      background: none;
      outline: none;
      font-size: 3.5em;
      cursor: pointer;
      margin: 0;
      font-size: 0px !important;
      font-family: monospace;
      padding: 0 4px;
      color: rgba(111, 111, 111, 0.85); }
      #customers-reviews ul li button:before {
        content: '.';
        font-size: 40px !important; }
    #customers-reviews ul li.slick-active {
      opacity: 1; }
#customers-reviews .slick-slide:not(.slick-center) .single-testimonial {
  opacity: 0.3;
  -ms-transform: scale(2, 3);
  /* IE 9 */
  -webkit-transform: scale(2, 3);
  /* Safari */
  transform: scale(0.9, 0.9); }
  #customers-reviews .slick-slide:not(.slick-center) .single-testimonial .review-author h4,
  #customers-reviews .slick-slide:not(.slick-center) .single-testimonial .review-author .stars-bar {
    position: relative;
    z-index: -1;
    left: -90px;
    opacity: 0; }
  #customers-reviews .slick-slide:not(.slick-center) .single-testimonial .review-author p {
    position: relative;
    z-index: -1;
    left: -190px;
    opacity: 0; }
#customers-reviews .slick-slide {
  outline: none; }
  #customers-reviews .slick-slide .review-author h4,
  #customers-reviews .slick-slide .review-author p,
  #customers-reviews .slick-slide .review-author .stars-bar {
    opacity: 1;
    left: 10px; }
  #customers-reviews .slick-slide .review-author p {
    margin: 0px; }
  #customers-reviews .slick-slide .single-testimonial {
    -moz-transition: all 0.15s ease;
    -ms-transition: all 0.85s ease;
    -webkit-transition: all 0.85s ease;
    -o-transition: all 0.85s ease; }
  #customers-reviews .slick-slide .review-author h4,
  #customers-reviews .slick-slide .review-author p,
  #customers-reviews .slick-slide ul.slider-dots li button {
    -moz-transition: all 0.8s ease;
    -ms-transition: all 1.85s ease;
    -webkit-transition: all 1.85s ease;
    -o-transition: all 0.85s ease; }

#register-form-container, .content-wrapper {
  margin: auto;
  text-align: left; }
  #register-form-container div.form-content, #register-form-container div.content, .content-wrapper div.form-content, .content-wrapper div.content {
    text-align: left;
    background-color: #fff;
    width: 100%;
    padding: 50px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    border-radius: 4px;
    box-shadow: 0 10px 89px -25px rgba(0, 0, 0, 0.59);
    -webkit-box-shadow: 0 18px 50px -21px rgba(0, 0, 0, 0.62);
    -moz-box-shadow: 0 10px 89px -25px rgba(0, 0, 0, 0.59);
    -o-box-shadow: 0 10px 89px -25px rgba(0, 0, 0, 0.59); }
    #register-form-container div.form-content .step, #register-form-container div.content .step, .content-wrapper div.form-content .step, .content-wrapper div.content .step {
      margin: 20px 7%; }
      #register-form-container div.form-content .step .input-field, #register-form-container div.content .step .input-field, .content-wrapper div.form-content .step .input-field, .content-wrapper div.content .step .input-field {
        position: relative;
        margin-bottom: 10px; }
        #register-form-container div.form-content .step .input-field label, #register-form-container div.content .step .input-field label, .content-wrapper div.form-content .step .input-field label, .content-wrapper div.content .step .input-field label {
          display: none;
          position: absolute;
          top: 20px;
          left: 40px;
          font-size: 15px;
          color: #cacaca; }
          #register-form-container div.form-content .step .input-field label.active, #register-form-container div.content .step .input-field label.active, .content-wrapper div.form-content .step .input-field label.active, .content-wrapper div.content .step .input-field label.active {
            display: block;
            top: 5px;
            color: #585858;
            font-size: 10px;
            font-weight: 600; }
        #register-form-container div.form-content .step .input-field svg, #register-form-container div.content .step .input-field svg, .content-wrapper div.form-content .step .input-field svg, .content-wrapper div.content .step .input-field svg {
          color: #5c85be;
          position: absolute;
          font-size: 18px;
          top: 18px;
          left: 12px; }
        #register-form-container div.form-content .step .input-field input,
        #register-form-container div.form-content .step .input-field textarea, #register-form-container div.content .step .input-field input,
        #register-form-container div.content .step .input-field textarea, .content-wrapper div.form-content .step .input-field input,
        .content-wrapper div.form-content .step .input-field textarea, .content-wrapper div.content .step .input-field input,
        .content-wrapper div.content .step .input-field textarea {
          width: 100%;
          border: none;
          padding: 13px 5px 5px 15px; }
        #register-form-container div.form-content .step .input-field textarea, #register-form-container div.content .step .input-field textarea, .content-wrapper div.form-content .step .input-field textarea, .content-wrapper div.content .step .input-field textarea {
          min-height: 150px; }
        #register-form-container div.form-content .step .input-field input,
        #register-form-container div.form-content .step .input-field textarea,
        #register-form-container div.form-content .step .input-field select, #register-form-container div.content .step .input-field input,
        #register-form-container div.content .step .input-field textarea,
        #register-form-container div.content .step .input-field select, .content-wrapper div.form-content .step .input-field input,
        .content-wrapper div.form-content .step .input-field textarea,
        .content-wrapper div.form-content .step .input-field select, .content-wrapper div.content .step .input-field input,
        .content-wrapper div.content .step .input-field textarea,
        .content-wrapper div.content .step .input-field select {
          height: 50px;
          border: none;
          border-bottom: 1px solid rgba(204, 204, 204, 0.52);
          background-color: rgba(200, 200, 200, 0.09);
          color: #3e3e3e; }
          #register-form-container div.form-content .step .input-field input::placeholder,
          #register-form-container div.form-content .step .input-field textarea::placeholder,
          #register-form-container div.form-content .step .input-field select::placeholder, #register-form-container div.content .step .input-field input::placeholder,
          #register-form-container div.content .step .input-field textarea::placeholder,
          #register-form-container div.content .step .input-field select::placeholder, .content-wrapper div.form-content .step .input-field input::placeholder,
          .content-wrapper div.form-content .step .input-field textarea::placeholder,
          .content-wrapper div.form-content .step .input-field select::placeholder, .content-wrapper div.content .step .input-field input::placeholder,
          .content-wrapper div.content .step .input-field textarea::placeholder,
          .content-wrapper div.content .step .input-field select::placeholder {
            /* Chrome, Firefox, Opera, Safari 10.1+ */
            color: #9c9c9c;
            opacity: 1;
            /* Firefox */ }
          #register-form-container div.form-content .step .input-field input:-ms-input-placeholder,
          #register-form-container div.form-content .step .input-field textarea:-ms-input-placeholder,
          #register-form-container div.form-content .step .input-field select:-ms-input-placeholder, #register-form-container div.content .step .input-field input:-ms-input-placeholder,
          #register-form-container div.content .step .input-field textarea:-ms-input-placeholder,
          #register-form-container div.content .step .input-field select:-ms-input-placeholder, .content-wrapper div.form-content .step .input-field input:-ms-input-placeholder,
          .content-wrapper div.form-content .step .input-field textarea:-ms-input-placeholder,
          .content-wrapper div.form-content .step .input-field select:-ms-input-placeholder, .content-wrapper div.content .step .input-field input:-ms-input-placeholder,
          .content-wrapper div.content .step .input-field textarea:-ms-input-placeholder,
          .content-wrapper div.content .step .input-field select:-ms-input-placeholder {
            /* Internet Explorer 10-11 */
            color: #dbdbdb; }
          #register-form-container div.form-content .step .input-field input::-ms-input-placeholder,
          #register-form-container div.form-content .step .input-field textarea::-ms-input-placeholder,
          #register-form-container div.form-content .step .input-field select::-ms-input-placeholder, #register-form-container div.content .step .input-field input::-ms-input-placeholder,
          #register-form-container div.content .step .input-field textarea::-ms-input-placeholder,
          #register-form-container div.content .step .input-field select::-ms-input-placeholder, .content-wrapper div.form-content .step .input-field input::-ms-input-placeholder,
          .content-wrapper div.form-content .step .input-field textarea::-ms-input-placeholder,
          .content-wrapper div.form-content .step .input-field select::-ms-input-placeholder, .content-wrapper div.content .step .input-field input::-ms-input-placeholder,
          .content-wrapper div.content .step .input-field textarea::-ms-input-placeholder,
          .content-wrapper div.content .step .input-field select::-ms-input-placeholder {
            /* Microsoft Edge */
            color: #dbdbdb; }
        #register-form-container div.form-content .step .input-field select,
        #register-form-container div.form-content .step .input-field .input-numbers, #register-form-container div.content .step .input-field select,
        #register-form-container div.content .step .input-field .input-numbers, .content-wrapper div.form-content .step .input-field select,
        .content-wrapper div.form-content .step .input-field .input-numbers, .content-wrapper div.content .step .input-field select,
        .content-wrapper div.content .step .input-field .input-numbers {
          position: absolute;
          right: 0;
          top: 0;
          height: 50px;
          padding: 0 10px;
          max-width: 80px; }
        #register-form-container div.form-content .step .input-field select[name="state"], #register-form-container div.content .step .input-field select[name="state"], .content-wrapper div.form-content .step .input-field select[name="state"], .content-wrapper div.content .step .input-field select[name="state"] {
          height: 52px;
          position: relative;
          top: -4px;
          left: 0;
          min-width: 100%; }
        #register-form-container div.form-content .step .input-field.has-icon input, #register-form-container div.content .step .input-field.has-icon input, .content-wrapper div.form-content .step .input-field.has-icon input, .content-wrapper div.content .step .input-field.has-icon input {
          padding-left: 40px; }
        #register-form-container div.form-content .step .input-field.has-text, #register-form-container div.content .step .input-field.has-text, .content-wrapper div.form-content .step .input-field.has-text, .content-wrapper div.content .step .input-field.has-text {
          margin-bottom: 40px; }
          #register-form-container div.form-content .step .input-field.has-text .input-numbers, #register-form-container div.content .step .input-field.has-text .input-numbers, .content-wrapper div.form-content .step .input-field.has-text .input-numbers, .content-wrapper div.content .step .input-field.has-text .input-numbers {
            top: -15px;
            height: 45px; }
        #register-form-container div.form-content .step .input-field.has-checkbox input[type="checkbox"], #register-form-container div.content .step .input-field.has-checkbox input[type="checkbox"], .content-wrapper div.form-content .step .input-field.has-checkbox input[type="checkbox"], .content-wrapper div.content .step .input-field.has-checkbox input[type="checkbox"] {
          width: 16px;
          position: absolute;
          top: -15px; }
        #register-form-container div.form-content .step .input-field.has-checkbox p, #register-form-container div.content .step .input-field.has-checkbox p, .content-wrapper div.form-content .step .input-field.has-checkbox p, .content-wrapper div.content .step .input-field.has-checkbox p {
          margin: 0 0 60px 25px; }
        #register-form-container div.form-content .step .input-field.half, #register-form-container div.content .step .input-field.half, .content-wrapper div.form-content .step .input-field.half, .content-wrapper div.content .step .input-field.half {
          width: 47.5%;
          display: inline-block; }
          #register-form-container div.form-content .step .input-field.half:nth-child(2n), #register-form-container div.content .step .input-field.half:nth-child(2n), .content-wrapper div.form-content .step .input-field.half:nth-child(2n), .content-wrapper div.content .step .input-field.half:nth-child(2n) {
            margin-left: 4%; }
        #register-form-container div.form-content .step .input-field.third, #register-form-container div.content .step .input-field.third, .content-wrapper div.form-content .step .input-field.third, .content-wrapper div.content .step .input-field.third {
          width: 30.8%;
          display: inline-block; }
          #register-form-container div.form-content .step .input-field.third, #register-form-container div.content .step .input-field.third, .content-wrapper div.form-content .step .input-field.third, .content-wrapper div.content .step .input-field.third {
            margin-left: 0 !important;
            margin-right: 3%; }
          #register-form-container div.form-content .step .input-field.third:nth-child(3n+2), #register-form-container div.content .step .input-field.third:nth-child(3n+2), .content-wrapper div.form-content .step .input-field.third:nth-child(3n+2), .content-wrapper div.content .step .input-field.third:nth-child(3n+2) {
            margin-right: 0 !important; }
        #register-form-container div.form-content .step .input-field p, #register-form-container div.content .step .input-field p, .content-wrapper div.form-content .step .input-field p, .content-wrapper div.content .step .input-field p {
          margin-bottom: 10px; }
          #register-form-container div.form-content .step .input-field p span, #register-form-container div.content .step .input-field p span, .content-wrapper div.form-content .step .input-field p span, .content-wrapper div.content .step .input-field p span {
            color: #cfcfcf; }
        #register-form-container div.form-content .step .input-field small, #register-form-container div.content .step .input-field small, .content-wrapper div.form-content .step .input-field small, .content-wrapper div.content .step .input-field small {
          font-size: 14px;
          color: #828282;
          line-height: 22px;
          margin-bottom: 30px;
          display: block; }
        #register-form-container div.form-content .step .input-field p,
        #register-form-container div.form-content .step .input-field small, #register-form-container div.content .step .input-field p,
        #register-form-container div.content .step .input-field small, .content-wrapper div.form-content .step .input-field p,
        .content-wrapper div.form-content .step .input-field small, .content-wrapper div.content .step .input-field p,
        .content-wrapper div.content .step .input-field small {
          margin-right: 90px; }
        #register-form-container div.form-content .step .input-field .terms, #register-form-container div.content .step .input-field .terms, .content-wrapper div.form-content .step .input-field .terms, .content-wrapper div.content .step .input-field .terms {
          background-color: rgba(230, 230, 230, 0.41);
          width: 100%;
          margin: 0;
          padding: 15px;
          max-height: 300px;
          box-sizing: border-box;
          overflow-y: scroll;
          margin: 20px 0; }
          #register-form-container div.form-content .step .input-field .terms p, #register-form-container div.content .step .input-field .terms p, .content-wrapper div.form-content .step .input-field .terms p, .content-wrapper div.content .step .input-field .terms p {
            font-size: 14px;
            line-height: 22px;
            margin: 0; }

#login-form-container .form-content {
  padding: 50px 70px 80px; }
#login-form-container .head {
  margin-bottom: 40px; }
  #login-form-container .head h3 {
    margin-bottom: 17px; }
  #login-form-container .head p {
    margin: 0px 0 5px;
    font-size: 12px; }
#login-form-container .step {
  margin: 0 0 40px; }

#user-quick-panel .user-info {
  border-right: 1px solid #d7d7d7; }
  #user-quick-panel .user-info img {
    border-radius: 500px;
    width: 110px;
    float: left; }
  #user-quick-panel .user-info div {
    float: left;
    box-sizing: border-box;
    padding: 0 0 0 20px; }
    #user-quick-panel .user-info div h4 {
      margin: 0 0 5px; }
    #user-quick-panel .user-info div ul {
      list-style: none;
      margin: 0 0 10px !important;
      padding: 0;
      margin-bottom: 20px; }
      #user-quick-panel .user-info div ul li {
        font-size: 13px;
        line-height: 18px; }
    #user-quick-panel .user-info div a.btn {
      margin-bottom: 0; }
#user-quick-panel .summary-info ul {
  margin: 1px 5px;
  padding: 0;
  list-style: none; }
  #user-quick-panel .summary-info ul li {
    line-height: 30px;
    font-size: 14px; }
    #user-quick-panel .summary-info ul li svg {
      min-width: 20px;
      margin-right: 5px;
      color: #317aaa; }

#dashboard-container .content {
  position: relative;
  z-index: 2;
  margin-top: 40px;
  padding: 50px 5px;
  overflow: hidden; }
  #dashboard-container .content .wide-head h3 {
    color: #fff;
    font-weight: 600;
    font-size: 20px; }
#dashboard-container .in-progress .row {
  padding: 10px 30px;
  border-bottom: dashed 3px #ddd; }
  #dashboard-container .in-progress .row:last-child {
    border-bottom: none; }
  #dashboard-container .in-progress .row:nth-child(2n) {
    background-color: rgba(165, 206, 255, 0.1); }
  #dashboard-container .in-progress .row .order-info div {
    border-bottom: 1px solid rgba(221, 221, 221, 0.5);
    padding-bottom: 20px; }
    #dashboard-container .in-progress .row .order-info div h4 {
      color: #474747;
      font-size: 18px;
      margin-bottom: 4px;
      font-weight: 200;
      margin-top: 15px; }
    #dashboard-container .in-progress .row .order-info div p {
      margin: 0 0 2px 20px;
      color: #3c3c3c;
      font-size: 14px; }
      #dashboard-container .in-progress .row .order-info div p span {
        font-style: italic;
        color: #2c7ba8; }
    #dashboard-container .in-progress .row .order-info div ul {
      margin: 0; }
      #dashboard-container .in-progress .row .order-info div ul li {
        line-height: 18px;
        font-size: 14px; }
    #dashboard-container .in-progress .row .order-info div:last-child {
      border-bottom: none;
      padding: 20px 0 12px; }
  #dashboard-container .in-progress .row .order-info div.d {
    display: flex; }
    #dashboard-container .in-progress .row .order-info div.d div {
      border-bottom: none; }
    #dashboard-container .in-progress .row .order-info div.d div.info,
    #dashboard-container .in-progress .row .order-info div.d div.links {
      flex-basis: 50%; }
    #dashboard-container .in-progress .row .order-info div.d div.info {
      border-right: 1px solid rgba(221, 221, 221, 0.48); }
      #dashboard-container .in-progress .row .order-info div.d div.info h4:first-child {
        margin-top: 0; }
    #dashboard-container .in-progress .row .order-info div.d div.links {
      padding: 20px 30px 0;
      box-sizing: border-box; }
      #dashboard-container .in-progress .row .order-info div.d div.links a {
        display: inline-table; }
  #dashboard-container .in-progress .row .order-location {
    padding-top: 20px; }
    #dashboard-container .in-progress .row .order-location h4 {
      margin-top: 10px;
      font-size: 14px; }
      #dashboard-container .in-progress .row .order-location h4 svg {
        color: #ff8f60; }
#dashboard-container .pending div.col-md-3, #dashboard-container .pending .col-md-2, #dashboard-container .pending .col-md-4 {
  margin: 28px 0; }
  #dashboard-container .pending div.col-md-3:not(:last-child), #dashboard-container .pending .col-md-2:not(:last-child), #dashboard-container .pending .col-md-4:not(:last-child) {
    border-right: 1px solid rgba(221, 221, 221, 0.48); }
  #dashboard-container .pending div.col-md-3:not(:first-child), #dashboard-container .pending .col-md-2:not(:first-child), #dashboard-container .pending .col-md-4:not(:first-child) {
    padding-left: 30px;
    box-sizing: border-box; }
#dashboard-container .pending .order-info h4 {
  font-size: 14px !important; }
#dashboard-container .pending .order-info p, #dashboard-container .pending .order-info li {
  font-size: 13px !important; }
#dashboard-container .pending .order-info .d {
  padding: 0; }
  #dashboard-container .pending .order-info .d .info, #dashboard-container .pending .order-info .d .links {
    border-right: none !important;
    flex-basis: 100% !important; }
  #dashboard-container .pending .order-info .d .links {
    padding: 20px 0 !important; }
#dashboard-container .pending .order-info .links a {
  font-size: 12px;
  padding: 8px 16px;
  display: block !important; }
  #dashboard-container .pending .order-info .links a svg {
    margin-right: 4px; }
#dashboard-container .finished .row {
  opacity: 0.7; }

/*==================================================
=                     Sections                     =
==================================================*/
body .container {
  margin: auto; }

footer {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#0a0a0a+0,09263d+100 */
  background: #0a0a0a;
  /* Old browsers */
  background: -moz-linear-gradient(45deg, #0a0a0a 0%, #09263d 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(45deg, #0a0a0a 0%, #09263d 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(45deg, #0a0a0a 0%, #09263d 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0a0a0a', endColorstr='#09263d', GradientType=1);
  /* IE6-9 fallback on horizontal gradient */
  z-index: 1;
  position: relative;
  padding-top: 250px; }
  footer .footer-site-logo {
    width: 200px;
    height: 35px;
    background-image: url("../img/logo2.png");
    background-repeat: no-repeat;
    background-size: 200px;
    margin: 5px 0 25px; }
  footer p {
    font-size: 13px;
    line-height: 17px; }
  footer a,
  footer h3,
  footer h4,
  footer p,
  footer small,
  footer span {
    color: #d5d3d4; }
  footer h4 {
    font-weight: 600;
    font-size: 18px;
    margin: 5px 0 20px;
    line-height: 20px; }
    footer h4 small {
      font-size: 11px;
      display: block; }
  footer nav ul {
    list-style: none;
    margin: 0;
    padding: 0; }
    footer nav ul li {
      line-height: 22px; }
      footer nav ul li a {
        font-size: 12px; }
  footer nav.soical-links ul li, footer nav.app-links ul li {
    display: inline-block;
    margin-right: 10px; }
  footer nav.app-links h4,
  footer nav.app-links ul {
    display: inline-block; }
  footer nav.app-links h4 {
    margin-right: 20px; }
  footer nav.app-links a {
    font-size: 20px; }
  footer form {
    margin-bottom: 20px; }
    footer form input[type="email"] {
      -webkit-border-radius: 500px;
      -moz-border-radius: 500px;
      -ms-border-radius: 500px;
      border-radius: 500px;
      font-size: 12px; }
    footer form button {
      background-color: #6fb0cf !important;
      color: #ffffff !important;
      font-weight: 600;
      -webkit-border-radius: 500px;
      -moz-border-radius: 500px;
      -ms-border-radius: 500px;
      border-radius: 500px;
      height: 38px;
      top: -0px !important;
      font-size: 14px;
      padding: 0 16px; }
  footer .copy-rights {
    padding: 80px 0 20px; }
    footer .copy-rights span {
      font-size: 12px; }
  footer .curve {
    position: absolute;
    top: -190px; }

/*==================================================
=                   Media Queries                  =
==================================================*/
/* Large Devices, Wide Screens */
/* Medium Devices, Desktops */
/* Small Devices, Tablets */
/* Extra Small Devices, Phones */
/* Custom */
.mt-desktop-150px {
  margin-top: 150px !important; }
